<div class="container">
    <div class="header-line">
        <div class="logo">
            Logo
        </div>
        <div class="login-form">
            <label> User login </label>
            <button> Login </button>
        </div>
    </div>

<div class="source-line">
    <h1 class="source-line__text"> Source Name </h1>
</div>
<div class="filter">
    <div class="filter__dropdown-list">
        <select>
            <option> OWN </option>
            <option> NEWS API </option>
            <option> </option>
        </select>
    </div>
    <div class="filter__search-form">
        <input type="text" />
        <button type="submit"> Submit </button>
    </div>
    <div class="filter__checkbox">
        <label>
            <input type="checkbox" /> checkbox
        </label>
    </div>

    <div class="filter__button">
        <button> Add article </button>
    </div>
</div>