<div class="container">
    <form class="container__form" [formGroup]="articleFormGroup" (ngSubmit)="onSubmit()">
        <ul>
            <li>
                <input class="field-split align-left" type="text" placeholder="Heading" formControlName="title">
                <input class="field-split align-right" type="text" placeholder="Image" formControlName="urlToImage">

            </li>
        </ul>
        <ul>
            <li>
                <input class="field-split align-left" type="text" placeholder="Short description"
                    formControlName="description">
                <input class="field-split align-left"  [value]="articleFormGroup.get('publishedAt').value | date : 'M/d/yy'" type="text" placeholder="Date" formControlName="publishedAt">
            </li>
        </ul>
        <ul>
            <li>
                <input style="height: 110px;" class="field-split align-left" type="text" placeholder="Content"
                    formControlName="content">
                <input class="field-split align-right" type="text" placeholder="Author" formControlName="author">

            </li>
        </ul>
        <ul>
            <li>
                <input class="field-split align-right" type="text" placeholder="Source URL"
                    formControlName="url">

            </li>
        </ul>
        <ul>
            <li>
                <div class="button-group">
                    <button type="submit" [disabled]="!articleFormGroup.valid"> Save </button>
                    <button> Cancel </button>
                </div>
            </li>
        </ul>
    </form>
</div>